
.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**my-creds.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv
**/data-engineering-zoomcamp-main/*
**output.csv.gz
**taxi+_zone_lookup.csv
**yellow_tripdata_2021-01.csv
**yellow_tripdata_2021-01.parquet